*{

    font-family: 'Rajdhani', sans-serif;
}

body{
    background-color: #cecece;
}

.bg-light{
    background-color: white !important;
}

:root{
    --main-color:darkred;
    --sec-color:#C67F7F;
    --acc-color:#ececec;
}

h1,h2,h3,h4,.h1,.h2,.h3,.h4{
    font-family: 'Nova Square', cursive;
}

.vh100{
    width: 100%;
    height: 100vh;
    
}

.bg-swit{
    background:linear-gradient(180deg,rgba(255,255,255,1),rgba(255,255,255,0.3),rgba(206,206,206,0.8), rgba(206, 203, 203,1)),url(./media/mountains.png),url(./media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  
}

.titolo{
    color: var(--main-color);
    letter-spacing: 40px;
    font-size: 40px;
    
}
.pseudo{
    position: relative;
}


.pseudo:after{
    content: close-quote;
    color: darkred;
    font-size: 50px;
    position: absolute;
    

}

.pseudo:before{
    content: open-quote;
    color: var(--main-color);
    font-size: 50px;
    position: absolute;
    top: -20px;
    left: -15px;
}

.positionrelative{
    position: relative;
}

.square{
    width: 200px;
    height: 200px;
    color: darkred;
    border-bottom: 4px solid darkred;

}


.square::after{
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid darkred;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 8px;
}



.darkred{
    color: var(--main-color);
}


.bottone{
    color: wheat;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 200px;
    height: 30px;
}   


.bordotime{
    border-left: 4px solid var(--main-color);
    position: relative;

}



.pseudotime::before{
    content: "";
    width: 15px;
    height: 15px;
    background-color: #cecece;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    position:absolute;
    left: -10px;
}

.imgteam{
    border-radius: 50%;
    border: 2px solid var(--main-color);
    padding: 10px;
}

.bianco{
    background:url(./media/klipartz.com\ \(12\).png);
    background-repeat: no-repeat;
    background-color: white;

}

@media screen and (max-width:769px) {
    .bianco{
        background-size: 0%;
    }
    
}

.cecece{
    background: url(./media/single.png);
    background-size: 50%;
    background-repeat: no-repeat;
}

@media screen and (max-width:769px) {
    .cecece{
        
        background-size:0%;
    }
    }


.bg-red{
    background-color: var(--main-color);
}

.testolink{
    text-decoration: none;
    color: white;
}


.sfondored{
    background: url(./media/other.png);
    background-repeat: no-repeat;
    background-position: 10% 105%;
    background-size: 100%;
}

